@import "../../../assets/scss/colorVariables";

.input-date{
  .input-group {
    background-color: white;
    .input-group-text {
      display: flex;
      justify-content: center;
      background-color: $gray-900;
      border:0;
      padding:0;
      width: 45px;
      height: 45px;
      pointer-events: none;
      cursor: pointer;
      border-radius: 4px !important;
      position: absolute;
      z-index: 999;
    }

    .form-control {
      padding: .575rem 45px;
      width: 100%;
      height: 45px;
      background-color: $gray-100;
      border:0;
      border-radius: 0;
      outline: 0;
      box-shadow: none;
      text-align: center;
      justify-content: center;
    }

    .date-range-wrapper {
      top: 45px;
      padding: 4px;
      background-color: white;
      position: absolute;
      z-index: 5;
      box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.1);
      border-radius: 4px; 
    }
  }
}